<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>


</head>

<body id="add_or_update_dialog_builder_body">


<script th:inline="javascript">
    /*<![CDATA[*/
    var AddOrUpdateDialogBuilder = function () {
        this.onSubmit = undefined;
        this.onCancel = undefined;
        this.$dialog = undefined;
        this.$form = undefined;
        this.$submitBtn = undefined;
        this.$cancelBtn = undefined;
        this.fields = undefined;

        this.echoData = function (args) {
            var data = args.data;
            echoFrom({
                fields: this.fields,
                data: data,
                $form: this.$form
            });
        };

        this.hide = function () {
            this.$dialog.modal('hide');
        };
        this.show = function () {
            this.$dialog.modal('show');
        };

        this.init = function (args) {

            this.$dialog = $(args.dialogId);
            this.$form = this.$dialog.find("form");
            this.$submitBtn = this.$dialog.find(args.submitId);
            this.$cancelBtn = this.$dialog.find(args.cancelId);
            this.onSubmit = args.onSubmit;
            this.onCancel = args.onCancel;
            this.fields = args.fields;

            this.$submitBtn.unbind("click");
            this.$submitBtn.click(function () {

                this.hide();
                if (!isUndefined(this.onSubmit)) {
                    var data = this.$form.serializeObject();
                    this.onSubmit(data);
                }
            }.bind(this));
            this.$cancelBtn.unbind("click");
            this.$cancelBtn.click(function () {
                this.hide();
                if (!isUndefined(this.onCancel)) {
                    this.onCancel();
                }

            }.bind(this));
        };
    }


    /*]]>*/

</script>
</body>

</html>
