<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>


</head>

<body id="ajax_body">


<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/


    var CODE_OF_REQUEST_SUCCESS = 1;


    function fail(code) {
        return code < 0;
    }

    function success(code) {
        return CODE_OF_REQUEST_SUCCESS == code;
    }

    /**
     * json用data传递-后台使用@RequestBody;<br/>
     * 非json用url拼接-后台使用@RequestParam
     * @type {{ajaxError: string, requestServerSuccess: ajax.requestServerSuccess, requestServerError: ajax.requestServerError, ajax: ajax.ajax, get: ajax.get, put: ajax.put, post: ajax.post, contentType: {TEXT: string, JSON: string}}}
     */
    var ajax = {
        ajax: function (args) {
            c(args.data);
            $.ajax({
                url: args.url,
                //配合@requestBody
                data: args.data,
                type: args.type,
                dataType:"json",
                success: function (result) {

                    if (!isUndefined(args.onSuccess)) {
                        args.onSuccess(result);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (!isUndefined(args.onError)) {
                        args.onError();
                    }
                }
            });
        },
        get: function (args) {
            args.type = "GET";
            this.ajax(args);
        },
        put: function (args) {
            args.type = "PUT";
            this.ajax(args);
        },
        post: function (args) {
            args.type = "POST";
            this.ajax(args);
        },
        do: function (args) {

            args.type = "POST";
            args.data = [page, query];
            this.ajax(args);
        }
    };

    function Page() {

    }
    // Page
    function Page() {
        this.start = 0;
        this.size = 10;
        this.orderBy = "create_time";
        this.orderType = "desc";
        this.total = 0;

    }
    // Query
    function Query() {


    }




</script>
</body>

</html>
