<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>


</head>

<body id="confirm_dialog_body">
<!--弹出确认窗口-->
<div id="confirm_dialog" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class=" close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <h4 class="modal-title" id="gridSystemModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    确定要删除该记录？删除后不可恢复！
                </div>
            </div>
            <div class="modal-footer">
                <!--data-dismiss="modal"-->
                <button id="cancel_btn" type="button" class=" btn btn-xs btn-white">取 消</button>
                <button id="sure_btn" type="button" class="btn  btn-xs btn-danger">确 认</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script th:inline="javascript">
    /*<![CDATA[*/

    var ConfirmDialog = function () {
        this.$confirmDialog = undefined;
        this.$cancelBtn = undefined;
        this.$sureBtn = undefined;
        this.onClose = undefined;
        this.onCancel = undefined;
        this.onSure = undefined;
        this.init = function (args) {
            this.$confirmDialog = $(args.dialogId);
            this.$cancelBtn = this.$confirmDialog.find(args.cancelBtnId);
            this.$sureBtn = this.$confirmDialog.find(args.sureBtnId);
            //关闭事件触发
            this.$confirmDialog.on('hide.bs.modal', function () {
                if (!isUndefined(this.onClose)) {
                    this.onClose();
                }
            }.bind(this));
            //确认事件
            this.$sureBtn.click(function () {
                this.hide();
                if (!isUndefined(this.onSure)) {
                    this.onSure();
                }
            }.bind(this));
            //取消事件
            this.$cancelBtn.click(function () {
                this.hide();
                if (!isUndefined(this.onCancel)) {
                    this.onCancel();
                }
            }.bind(this));
        };
        this.hide = function () {
            this.$confirmDialog.modal('hide')
        };
        this.showMsg = function (args) {

            this.onClose = args.onClose;
            this.onCancel = args.onCancel;
            this.onSure = args.onSure;
            var msg = args.msg;
            if (msg != undefined && msg != "") {
                this.$confirmDialog.find(".modal-body .container-fluid").html(msg);
                this.$confirmDialog.modal('show');
            }

        };


    };
    /*]]>*/

</script>
</body>

</html>
