<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>


</head>

<body id="input_dialog_body">
<!--弹出输入窗口-->
<div id="input_dialog" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static"
     aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class=" close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <h4 class="modal-title" id="gridSystemModalLabel">输入</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <input name="inputContent" type="text" class="form-control input-sm" placeholder="请输入">
                </div>
            </div>
            <div class="modal-footer">
                <!--data-dismiss="modal"-->
                <button id="cancel_btn" type="button" class=" btn btn-xs btn-white">取 消</button>
                <button id="sure_btn" type="button" class="btn  btn-xs btn-danger">确 认</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script th:inline="javascript">
    /*<![CDATA[*/

    var InputDialog = function () {
        this.$inputDialog = undefined;
        this.$cancelBtn = undefined;
        this.$sureBtn = undefined;
        this.onCancel = undefined;
        this.onSure = undefined;
        this.init = function (args) {
            this.$inputDialog = $(args.dialogId);
            this.$cancelBtn = this.$inputDialog.find(args.cancelBtnId);
            this.$sureBtn = this.$inputDialog.find(args.sureBtnId);

            this.registEvents();
        };
        this.registEvents = function () {

            //输入事件
            this.$sureBtn.unbind("click");
            this.$sureBtn.click(function () {
                this.hide();
                if (!isUndefined(this.onSure)) {
                    var text = this.getInputContent().val();
                    this.onSure(text);
                }
            }.bind(this));
            //取消事件
            this.$cancelBtn.unbind("click");
            this.$cancelBtn.click(function () {
                this.hide();
                if (!isUndefined(this.onCancel)) {
                    this.onCancel();
                }
            }.bind(this));
        };
        this.hide = function () {
            this.$inputDialog.modal('hide')
        };
        this.show = function (args) {

            this.onCancel = args.onCancel;
            this.onSure = args.onSure;
            this.showInputContent(args);
            this.$inputDialog.modal('show');

        };
        this.showInputContent = function (args) {
            var placeholder = args.placeholder;
            var $inputContent = this.getInputContent();
            $inputContent.val("");
            if (!isEmptyString(placeholder)) {
                $inputContent.attr("placeholder", placeholder);
            }
        };
        this.getInputContent = function () {
            return $(this.$inputDialog.find("input[name='inputContent']"));
        }


    };
    var inputDialog = new InputDialog();
    inputDialog.init({
        dialogId: "#input_dialog",
        sureBtnId: "#sure_btn",
        cancelBtnId: "#cancel_btn"
    });
    /*]]>*/

</script>
</body>

</html>
