<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>


</head>

<body id="nav_body">

<div class="leftMeun" id="leftMeun">
    <div id="logoDiv">
        <p id="logoP"><img id="logo" alt="Course后台管理" src="images/logo.png"><span>Course后台管理</span></p>
    </div>
    <div id="personInfor">
        <p id="username">用户名 ：请先登录</p>
        <p id="description" style='overflow: hidden;text-overflow:ellipsis;'>简介 ：无</p>

        <!--<p><span>yangxp@qq.com</span> <a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>-->
        <p>
            <a href="javascript:nav.logout();">退出登录</a>
        </p>
    </div>
    <div class="meun-title">账号管理</div>
    <div class="meun-item meun-item-active" onClick="userLoader.loadUserData();" href="#user" aria-controls="user"
         role="tab" data-toggle="tab">
        <a href="#">
            <img src="images/icon_card_grey.png">用户管理
        </a>
    </div>
    <div class="meun-item" onClick="adminLoader.loadAdminData();" href="#admin" aria-controls="admin" role="tab"
         data-toggle="tab">
        <a href="#">
            <img src="images/icon_chara_grey.png">管理员管理
        </a>
    </div>
    <div class="meun-item" onClick="" href="#changePwd" aria-controls="changePwd" role="tab" data-toggle="tab">
        <a href="#">
            <img src="images/icon_change_grey.png">修改密码
        </a>
    </div>
    <div class="meun-title">课程管理</div>
    <div class="meun-item" onClick="courseLoader.loadCourseData();" href="#course" aria-controls="course" role="tab"
         data-toggle="tab">
        <a href="#">
            <img src="images/icon_source_grey.png">课程管理
        </a>
    </div>
    <div class="meun-item" onClick="tagGroupLoader.loadTagGroupData();" href="#tagGroup" aria-controls="course"
         role="tab" data-toggle="tab">
        <a href="#">
            <img src="images/icon_user_grey.png">标签分组管理
        </a>
    </div>
    <div class="meun-title">其他</div>
    <div class="meun-item">
        <a target="_blank" th:href="@{/courses/list}"><img src="images/icon_source.png">前往前台</a>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/


    var Nav = function () {

        this.onlineAdmin = undefined;
        this.loginDialog = undefined;
        this.loadingDialog = undefined;
        this.msgDialog = undefined;
        this.init = function (args) {
            this.loadingDialog = args.loadingDialog;
            this.loginDialog = args.loginDialog;
            this.msgDialog = args.msgDialog;
        };

        this.checkOnlineAdminStatus = function () {
            ajax.post({
                url: "/admins/onlineAdmin",
                onSuccess: function (result) {
                    if (fail(result.code) || isUndefined(result.data.admin)) {
                        this.showLoginDialog();
                    } else {
                        this.onlineAdmin = result.data.admin;
                        this.displayOnlineAdminInfo();
                    }

                }.bind(this)
            });
        }
        this.showLoginDialog = function () {
            this.loginDialog.show({
                onSure: function (data) {
                    this.loadingDialog.show({
                        msg: "正在登陆..."
                    });
                    ajax.post({
                        url: "/admins/login",
                        data: data,
                        onSuccess: function (result) {

                            this.loadingDialog.hide();
                            this.msgDialog.showMsg({
                                msg: result.msg,
                                onSure: function () {
                                    if (!success(result.code)) {
                                        this.loginDialog.show();
                                    } else {
                                        this.onlineAdmin = result.data.admin;
                                        this.displayOnlineAdminInfo();
                                    }
                                }.bind(this)
                            });

                        }.bind(this)
                    });
                }.bind(this)
            });
        }
        this.displayOnlineAdminInfo = function () {
            var onlineAdmin = {};
            if (!isUndefined(this.onlineAdmin)) {
                onlineAdmin = this.onlineAdmin;
            }

            var $infoDiv = $("#personInfor");

            $infoDiv.find("#username").html(this.makeDisplayContent("名称 ：", onlineAdmin.username));

            $infoDiv.find("#description").html(this.makeDisplayContent("简介 ：", onlineAdmin.description));
        }
        this.makeDisplayContent = function (prefix, content) {
            if (isUndefined(content)) {
                content = "无";
            }
            return prefix + content;
        }
        this.logout = function () {
            this.loadingDialog.show({
                msg: "正在登出..."
            });
            ajax.post({
                url: "/admins/logout",
                data: this.onlineAdmin,
                onSuccess: function (result) {
                    this.loadingDialog.hide();
                    this.msgDialog.showMsg({
                        msg: result.msg,
                        onSure: function () {
                            this.loginDialog.show();
                            this.onlineAdmin = {};
                            this.displayOnlineAdminInfo();
                        }.bind(this)
                    });

                }.bind(this)
            });
        }
    }
    var nav = new Nav();

    nav.init({
        loginDialog: loginDialog,
        loadingDialog: loadingDialog,
        msgDialog: msgDialog
    });

    nav.checkOnlineAdminStatus();


    /*]]>*/

</script>
</body>

</html>
