<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>


</head>

<body id="pager_builder_body">


<script th:inline="javascript">
    /*<![CDATA[*/


    //    <li>
    //    <select>
    //    <option>1</option>
    //    <option>2</option>
    //    <option>3</option>
    //    <option>4</option>
    //    <option>5</option>
    //    <option>6</option>
    //    <option>7</option>
    //    <option>8</option>
    //    <option>9</option>
    //    <option>10</option>
    //    </select>
    //    页
    //    </li>
    //    <li class="gray">
    //        共20页
    //        </li>
    //        <li>
    //        <i class="glyphicon glyphicon-menu-left">
    //        </i>
    //        </li>
    //        <li>
    //        <i class="glyphicon glyphicon-menu-right">
    //        </i>
    //        </li>

    var PagerBuilder = function () {

        this.page = undefined;
        this.$pager = undefined;
        this.onPageChange = undefined;
        this.buildPager = function (args) {
            this.page = args.page;
            this.makePager();
        };
        this.init =function (args) {

            this.$pager = $(args.pagerId);
            this.onPageChange = args.onPageChange;
        };
        this.changePage = function (movePage) {
            var newStart = this.page.start + (this.page.size * movePage);
            if (this.page.total < newStart) {
                return false;
            }
            if (0 > newStart) {
                return false;
            }
            this.page.start = newStart;
            if (!isUndefined(this.onPageChange)) {
                this.onPageChange(this.page);
            }
        };
        this.makePager = function () {
            //remove click
            var $prePage = this.$pager.find("#prePage");
            var $nextPage = this.$pager.find("#nextPage");
            $prePage.unbind('click');
            $nextPage.unbind('click');
            //add content
            var currtPage = this.page.getCurrtPage();
            var maxPage = this.page.getMaxPage();
            var total = this.page.total;
            this.$pager.empty();
            this.$pager.append("<li class='gray'>" + currtPage + "  / " + maxPage + "页 共"+total+"条记录 </li><li><i style='cursor: pointer;' id='prePage' class='glyphicon glyphicon-menu-left'></i></li><li><i  style='cursor: pointer;' id='nextPage' class='glyphicon glyphicon-menu-right'></i></li>");
            //add click
            $prePage = this.$pager.find("#prePage");
            $nextPage = this.$pager.find("#nextPage");
            $nextPage.click(function () {
                this.changePage(1);
            }.bind(this));
            $prePage.click(function () {
                this.changePage(-1);
            }.bind(this));
        };
    }


    /*]]>*/

</script>
</body>

</html>
