<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>


</head>

<body id="pager_builder_body">


<script th:inline="javascript">
    /*<![CDATA[*/


    //    <li>
    //    <select>
    //    <option>1</option>
    //    <option>2</option>
    //    <option>3</option>
    //    <option>4</option>
    //    <option>5</option>
    //    <option>6</option>
    //    <option>7</option>
    //    <option>8</option>
    //    <option>9</option>
    //    <option>10</option>
    //    </select>
    //    页
    //    </li>
    //    <li class="gray">
    //        共20页
    //        </li>
    //        <li>
    //        <i class="glyphicon glyphicon-menu-left">
    //        </i>
    //        </li>
    //        <li>
    //        <i class="glyphicon glyphicon-menu-right">
    //        </i>
    //        </li>

    var PagerBuilder = function (pagerId) {
        this.page = undefined;
        this.$pager = $(pagerId);
        this.callback = undefined;
        this.buildPager = function (args) {
            this.page = args.page;
            this.empty();
            this.makePager();
        };
        this.makePager = function () {
            var currtPage = Math.ceil(this.page.start / 10);
            var total = this.page.total;
            this.$pager.append("<li class='gray'>" + currtPage + "  / " + total + "页</li><li><i onclick='" + this.changePage(-1) + "' class='glyphicon glyphicon-menu-left'></i></li><li><i onclick='" + this.changePage(1) + "' class='glyphicon glyphicon-menu-right'></i></li>");
        };
        this.changePage = function (movePage) {
            this.page.start = this.page.start + (this.page.size * movePage);
            if (!isUndefined(this.callback)) {
                this.callback(this.page);
            }
        };
        this.onSelect = function (callback) {
            this.callback = callback;
        }
    }


    /*]]>*/

</script>
</body>

</html>
