<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>


</head>

<body id="table_builder_body">

<script th:inline="javascript">
    /*<![CDATA[*/

    var TableBuilder = function (tableId) {
        this.$table = $(tableId);
        this.updateBtnTarget = undefined;
        this.deleteBtnTarget = undefined;
        this.defaultWidth = 1;
        this.LOADING_IMG_PATH = "./images/loading.gif";
        this.OPERATE_BTN_WIDTH = 2;
        this.loading = function () {
            var loadingImg = this.LOADING_IMG_PATH;
            this.$table.css("text-align", "center");
            this.$table.html("<img src='" + loadingImg + "'/>");
        }
        this.buildTable = function (args) {

            var list = args.list;
            var fields = args.fields;
            this.updateBtnTarget = args.updateBtnTarget;
            this.deleteBtnTarget = args.deleteBtnTarget;

            //clear table
            table.empty();
            //add titles
            var tableHeader = this.makeTableHeader();
            this.addTableTitle(tableHeader, fields);
            //add list
            var tableBody = this.makeTableBody();
            this.addTableBody(tableBody, fields, list);
            //integrate
            this.$table.append(tableHeader);
            this.$table.append(tableBody);


        }
        this.addTableTitle = function (tableHeader, fields) {
            $.each(fields, function (index, item) {
                var title = item.title;
                var width = item.width;
                tableHeader.append(this.makeCol(title, width));
            }.bind(this));
            tableHeader.append(this.makeCol("操作"));
        }
        this.addTableBody = function (tableBody, fields, list) {
            //add list
            $.each(list, function (index, item) {
                var row = this.makeRow();
                $.each(fields, function (index, field) {
                    var name = field.name;
                    var filter = field.filter;
                    var width = field.width;

                    var text = item[name];
                    if (!isUndefined(filter)) {
                        text = filter(text);
                    }
                    var col = this.makeCol(text, width);
                    row.append(col);
                }.bind(this));
                //add model btn
                var col = this.makeCol("", this.OPERATE_BTN_WIDTH);
                var updateBtn = this.makeUpdateModelBtn()
                col.append(updateBtn);
                var deleteBtn = this.makeDeleteModelBtn()
                col.append(deleteBtn);
                row.append(col);

                tableBody.append(row);
            }.bind(this));
        }
        this.makeTableBody = function () {
            return $("<div class='tablebody'></div>");
        }
        this.makeTableHeader = function () {
            return $("<div class='row tableHeader'></div>");
        }
        this.makeCol = function (text, width) {
            var realWidth = this.defaultWidth;
            if (!isUndefined(width)) {
                realWidth = width;
            }
            return $("<div style='overflow: hidden;text-overflow:ellipsis;height:50px;' class='col-xs-" + realWidth + "'>" + text + "</div>");
        }
        this.makeRow = function () {
            return $("<div class='row'></div>")
        }
        this.makeUpdateModelBtn = function () {
            return $("<button class='btn btn-success btn-xs' data-toggle='modal' data-target='" + this.updateBtnTarget + "'>修改</button>");
        }
        this.makeDeleteModelBtn = function () {
            return $("<button class='btn btn-danger btn-xs' style='margin-left: 4px;' data-toggle='modal' data-target='" + this.deleteBtnTarget + "'>删除</button>");
        }
    }


    /*]]>*/

</script>
</body>

</html>
