<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>


</head>

<body id="user_body">

<!--用户管理模块-->
<div role="tabpanel" class="tab-pane active" id="user">
    <div class="check-div form-inline">
        <div class="col-xs-3">
            <!--<button class="btn btn-yellow btn-xs" data-toggle="modal" data-target="#addUser">添加记录</button>-->
        </div>
        <div id="userSearch" class="col-xs-4">
            <form onsubmit="return false;">
                <input name="username" type="text" class="form-control input-sm" placeholder="输入文字搜索">
                <button id="userSearchBtn" class="btn btn-white btn-xs ">查 询</button>
            </form>
        </div>
        <div class="col-lg-5 col-lg-offset-0 col-xs-6" style=" padding-right: 40px;text-align: right;">
            <label for="userOrderBy">排序:&nbsp;</label>
            <select id="userOrderBy" name="orderBy" class="form-control">
                <option value="id">id</option>
                <option value="create_time">创建时间</option>
            </select>
            <label for="userOrderType">规则:&nbsp;</label>
            <select id="userOrderType" name="orderType" class=" form-control">
                <option value="asc">升序</option>
                <option value="desc">降序</option>
            </select>
        </div>
    </div>
    <div class="data-div" id="userTable">


    </div>
    <!--页码块-->
    <footer class="footer">
        <ul id="userPager" class="pagination">

        </ul>
    </footer>


    <!--弹出添加用户窗口-->
    <div id="addUserDialog" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">添加用户</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal">
                            <div class="form-group ">
                                <label for="sName" class="col-xs-3 control-label">用户名：</label>
                                <div class="col-xs-8 ">
                                    <input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sLink" class="col-xs-3 control-label">真实姓名：</label>
                                <div class="col-xs-8 ">
                                    <input type="" class="form-control input-sm duiqi" id="sLink" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sOrd" class="col-xs-3 control-label">电子邮箱：</label>
                                <div class="col-xs-8">
                                    <input type="" class="form-control input-sm duiqi" id="sOrd" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sKnot" class="col-xs-3 control-label">电话：</label>
                                <div class="col-xs-8">
                                    <input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sKnot" class="col-xs-3 control-label">地区：</label>
                                <div class="col-xs-8">
                                    <select class=" form-control select-duiqi">
                                        <option value="">国际关系地区</option>
                                        <option value="">北京大学</option>
                                        <option value="">天津大学</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sKnot" class="col-xs-3 control-label">权限：</label>
                                <div class="col-xs-8">
                                    <select class=" form-control select-duiqi">
                                        <option value="">管理员</option>
                                        <option value="">普通用户</option>
                                        <option value="">游客</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="situation" class="col-xs-3 control-label">状态：</label>
                                <div class="col-xs-8">
                                    <label class="control-label" for="anniu">
                                        <input type="radio" name="situation" id="normal">正常</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="control-label" for="meun">
                                        <input type="radio" name="situation" id="forbid"> 禁用</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                    <button type="button" class="btn btn-xs btn-green">保 存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--弹出修改用户窗口-->
    <div id="editUserDialog" class="modal fade" aria-hidden="true" data-backdrop="static" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                    <!--aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title">修改用户</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal">

                            <input name="userId" type="hidden">
                            <div class="form-group ">
                                <label for="username" class="col-xs-3 control-label">用户名：</label>
                                <div class="col-xs-8 ">
                                    <input name="username" disabled="disabled" type="text"
                                           class="form-control input-sm duiqi"
                                           id="username" placeholder="">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="description" class="col-xs-3 control-label">简介：</label>
                                <div class="col-xs-8 ">
                                    <input name="description" type="text"
                                           class="form-control input-sm duiqi"
                                           id="description" placeholder="">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="sex" class="col-xs-3 control-label">性别：</label>
                                <div class="col-xs-8 ">
                                    <select id="sex" name="sex">
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                        <option value="3">未设置</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="status" class="col-xs-3 control-label">状态：</label>
                                <div class="col-xs-8 ">
                                    <select id="status" name="status">
                                        <option value="1">普通</option>
                                        <option value="2">冻结</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-xs-3 control-label">创建时间：</label>
                                <div class="col-xs-8 ">
                                    <input name="createTime" disabled="disabled" type="text"
                                           class="form-control input-sm duiqi" placeholder="">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--data-dismiss="modal"-->
                    <button id="cancel_btn" type="button" class="btn btn-xs btn-white">取 消</button>
                    <button id="submit_btn" type="button" class="btn btn-xs btn-green">保 存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


</div>


<script th:inline="javascript">
    /*<![CDATA[*/


    var UserLoader = function () {
            this.page = new Page();
            this.query = new Query();
            this.confirmDialog = new ConfirmDialog();
            this.msgDialog = new MsgDialog();
            this.pagerBuilder = new PagerBuilder();
            this.tableBuilder = new TableBuilder();
            this.sortBuilder = new SortBuilder();
            this.addOrUpdateDialogBuilder = new AddOrUpdateDialogBuilder();
            this.seachBuilder = new SearchBuilder();
            this.DELETE_TIP = "确定要删除该记录？删除后不可恢复！";
            this.init = function () {
                this.seachBuilder.init({
                    query: this.query,
                    searchId: "#userSearch",
                    searchBtnId: "#userSearchBtn",
                    fields: [
                        {
                            filter: undefined,
                            name: "username",
                            inputType: InputType.TEXT
                        }
                    ],
                    onSearch: function (query) {
                        this.query = query;
                        this.loadUserData();
                    }.bind(this)
                });

                this.sortBuilder.init({
                    page: this.page,
                    orderBySelectId: "#userOrderBy",
                    orderTypeSelectId: "#userOrderType",
                    onSort: function (page) {
                        c("page is : " + page);
                        this.page.orderBy = page.orderBy;
                        this.page.orderType = page.orderType;
                        this.loadUserData();
                    }.bind(this)
                });

                this.pagerBuilder.init({
                    pagerId: "#userPager",
                    onPageChange: function (newPage) {
                        this.page = newPage;
                        this.loadUserData();
                    }.bind(this)
                });
                this.addOrUpdateDialogBuilder.init({
                    dialogId: "#editUserDialog",
                    submitId: "#submit_btn",
                    cancelId: "#cancel_btn",
                    onSubmit: function (data) {
                        ajax.post({
                            url: "/users/update",
                            data: data,
                            onSuccess: function (result) {
                                this.loadUserData();
                            }.bind(this)
                        });
                    }.bind(this),
                    onCancel: function () {

                    },
                    fields: [
                        {
                            name: "userId",
                            inputType: InputType.TEXT,
                            filter: function (data) {
                                return data;
                            }
                        },
                        {
                            name: "username",
                            inputType: InputType.TEXT,
                            filter: function (data) {
                                return data;
                            }
                        },
                        {
                            name: "description",
                            inputType: InputType.TEXT,
                            filter: function (data) {
                                return data;
                            }
                        },
                        {
                            name: "status",
                            inputType: InputType.SELECT,
                            filter: function (data) {
                                return data;
                            }
                        },
                        {
                            name: "sex",
                            inputType: InputType.SELECT,
                            filter: function (data) {
                                return data;
                            }
                        },
                        {
                            name: "createTime",
                            inputType: InputType.TEXT,
                            filter: function (data) {
                                return timeFormatter.formatTime(data);
                            }
                        }
                    ]
                });
                this.tableBuilder.init({
                    tableId: "#userTable",
                    onDelete: function (data) {
                        this.confirmDialog.showMsg({
                            msg: this.DELETE_TIP,
                            onSure: function () {
                                ajax.post({
                                    url: "/users/delete",
                                    data: data,
                                    onSuccess: function (result) {
                                        this.loadUserData();
                                    }.bind(this)
                                });
                            }.bind(this),
                            onCancel: function () {
                            }.bind(this)
                        });
                    }.bind(this),
                    onUpdate: function (data) {
                        this.addOrUpdateDialogBuilder.echoData({
                            data: data
                        });
                        this.addOrUpdateDialogBuilder.show();
                    }.bind(this),
                    fields: [
                        {
                            title: "头像",
                            name: "imgUrl",
                            filter: function (text) {
                                return "<img style='width:50px;height:50px' src='" + text + "'/>";
                            }
                        },
                        {
                            title: "用户id",
                            name: "userId"
                        },
                        {
                            title: "用户昵称",
                            name: "username"
                        },
                        {
                            title: "性别",
                            name: "sex",
                            filter: function (text) {

                                if (text == 1) {
                                    return "男";
                                }
                                if (text == 2) {
                                    return "女";
                                }
                                if (text == 3) {
                                    return "未知";
                                }
                                return text;
                            }
                        },
                        {
                            title: "密码",
                            name: "password",
                            filter: function (text) {
                                return "<span title='" + text + "'>*****</span>";
                            }
                        },
                        {
                            title: "简介",
                            name: "description",
                            width: 2,
                            filter: function (text) {
                                return "<span title='" + text + "'>" + text + "</span>";
                            }
                        },
                        {
                            title: "状态",
                            name: "status",
                            filter: function (text) {
//                                        状态,1为正常，2为冻结，3为删除
                                if (text == 1) {
                                    return "普通";
                                }
                                if (text == 2) {
                                    return "冻结";
                                }
                                return text;
                            }
                        },
                        {
                            title: "创建时间",
                            name: "createTime",
                            width: 2,
                            filter: function (text) {
                                return timeFormatter.formatTime(text);
                            }
                        }
                    ]
                });
                this.confirmDialog.init({
                    dialogId: "#confirm_dialog",
                    sureBtnId: "#sure_btn",
                    cancelBtnId: "#cancel_btn"

                });
                this.msgDialog.init({
                    dialogId: "#msg_dialog"
                });

            }
            this.loadPager = function (result) {
                var data = result.data;
                this.page.total = data.total;
                this.pagerBuilder.buildPager({
                    page: this.page
                });
            }
            this.loadTable = function (result) {

                this.tableBuilder.buildTable({
                        list: result.data.users,
                    }
                );


            }
            this.loadUserData = function () {
                this.tableBuilder.loading();
                ajax.post({
                    url: "/users/list",
                    data: $.extend(this.page, this.query),
                    onSuccess: function (result) {
                        this.loadTable(result);
                        this.loadPager(result);
                    }.bind(this)
                });

            }

        }
    ;

    var userLoader = new UserLoader();
    userLoader.init();
    /*]]>*/

</script>
</body>

</html>
