<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>


</head>

<body id="user_body">

<!--用户管理模块-->
<div role="tabpanel" class="tab-pane active" id="user">
    <div class="check-div form-inline">
        <div class="col-xs-3">
            <button class="btn btn-yellow btn-xs" data-toggle="modal" data-target="#addUser">添加记录</button>
        </div>
        <div class="col-xs-4">
            <input type="text" class="form-control input-sm" placeholder="输入文字搜索">
            <button onclick="search()" class="btn btn-white btn-xs ">查 询</button>
        </div>
        <div class="col-lg-5 col-lg-offset-0 col-xs-6" style=" padding-right: 40px;text-align: right;">
            <label for="orderBy">排序:&nbsp;</label>
            <select id="orderBy" name="orderBy" onchange="selectOrderBy();" class=" form-control">
                <option value="create_time">创建时间</option>
                <!--<option value="id">id</option>-->
            </select>
            <label for="orderType">规则:&nbsp;</label>
            <select id="orderType" name="orderType" onchange="selectOrderType();" class=" form-control">
                <option value="desc">降序</option>
                <option value="asc">升序</option>
            </select>
        </div>
    </div>
    <div class="data-div" id="userTable">


    </div>
    <!--页码块-->
    <footer class="footer">
        <ul id="userPager" class="pagination">
            <!--<li>-->
            <!--<select>-->
            <!--<option>1</option>-->
            <!--<option>2</option>-->
            <!--<option>3</option>-->
            <!--<option>4</option>-->
            <!--<option>5</option>-->
            <!--<option>6</option>-->
            <!--<option>7</option>-->
            <!--<option>8</option>-->
            <!--<option>9</option>-->
            <!--<option>10</option>-->
            <!--</select>-->
            <!--页-->
            <!--</li>-->
            <!--<li class="gray">-->
            <!--共20页-->
            <!--</li>-->
            <!--<li>-->
            <!--<i class="glyphicon glyphicon-menu-left">-->
            <!--</i>-->
            <!--</li>-->
            <!--<li>-->
            <!--<i class="glyphicon glyphicon-menu-right">-->
            <!--</i>-->
            <!--</li>-->
        </ul>
    </footer>


    <!--弹出添加用户窗口-->
    <div class="modal fade" id="addUser" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">添加用户</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal">
                            <div class="form-group ">
                                <label for="sName" class="col-xs-3 control-label">用户名：</label>
                                <div class="col-xs-8 ">
                                    <input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sLink" class="col-xs-3 control-label">真实姓名：</label>
                                <div class="col-xs-8 ">
                                    <input type="" class="form-control input-sm duiqi" id="sLink" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sOrd" class="col-xs-3 control-label">电子邮箱：</label>
                                <div class="col-xs-8">
                                    <input type="" class="form-control input-sm duiqi" id="sOrd" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sKnot" class="col-xs-3 control-label">电话：</label>
                                <div class="col-xs-8">
                                    <input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sKnot" class="col-xs-3 control-label">地区：</label>
                                <div class="col-xs-8">
                                    <select class=" form-control select-duiqi">
                                        <option value="">国际关系地区</option>
                                        <option value="">北京大学</option>
                                        <option value="">天津大学</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sKnot" class="col-xs-3 control-label">权限：</label>
                                <div class="col-xs-8">
                                    <select class=" form-control select-duiqi">
                                        <option value="">管理员</option>
                                        <option value="">普通用户</option>
                                        <option value="">游客</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="situation" class="col-xs-3 control-label">状态：</label>
                                <div class="col-xs-8">
                                    <label class="control-label" for="anniu">
                                        <input type="radio" name="situation" id="normal">正常</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="control-label" for="meun">
                                        <input type="radio" name="situation" id="forbid"> 禁用</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                    <button type="button" class="btn btn-xs btn-green">保 存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--弹出修改用户窗口-->
    <div class="modal fade" id="reviseUser" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">修改用户</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal">
                            <div class="form-group ">
                                <label for="sName" class="col-xs-3 control-label">用户名：</label>
                                <div class="col-xs-8 ">
                                    <input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sLink" class="col-xs-3 control-label">真实姓名：</label>
                                <div class="col-xs-8 ">
                                    <input type="" class="form-control input-sm duiqi" id="sLink" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sOrd" class="col-xs-3 control-label">电子邮箱：</label>
                                <div class="col-xs-8">
                                    <input type="" class="form-control input-sm duiqi" id="sOrd" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sKnot" class="col-xs-3 control-label">电话：</label>
                                <div class="col-xs-8">
                                    <input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sKnot" class="col-xs-3 control-label">地区：</label>
                                <div class="col-xs-8">
                                    <input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sKnot" class="col-xs-3 control-label">权限：</label>
                                <div class="col-xs-8">
                                    <input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="situation" class="col-xs-3 control-label">状态：</label>
                                <div class="col-xs-8">
                                    <label class="control-label" for="anniu">
                                        <input type="radio" name="situation" id="normal">正常</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="control-label" for="meun">
                                        <input type="radio" name="situation" id="forbid"> 禁用</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
                    <button type="button" class="btn btn-xs btn-green">保 存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


</div>

<script th:inline="javascript">
    /*<![CDATA[*/


    var UserLoader = function () {
            this.page = new Page();
            this.query = new Query();
            this.$userTable = $("#userTable");
            this.pagerBuilder = new PagerBuilder("#userPager");
            this.init = function () {
                this.pagerBuilder.onSelect(function (newPage) {
                    this.page = newPage;
                    this.loadUserData();
                }.bind(this));
            }
            this.loadPager = function (result) {
                var data = result.data;
                this.page.total = data.total;
                this.pagerBuilder.buildPager({
                    page: this.page
                });
            }
            this.loadTable = function (result) {

                tableBuilder.buildTable({
                        updateBtnTarget: "#reviseUser",
                        deleteBtnTarget: "#confirm_dialog",
                        table: this.$userTable,
                        list: result.data.users,
                        fields: [
                            {
                                title: "头像",
                                name: "imgUrl",
                                filter: function (text) {
                                    return "<img style='width:50px;height:50px' src='" + text + "'/>";
                                }
                            },
                            {
                                title: "用户id",
                                name: "userId"
                            },
                            {
                                title: "用户昵称",
                                name: "username"
                            },
                            {
                                title: "密码",
                                name: "password",
                                filter: function (text) {
                                    return "<span title='" + text + "'>*****</span>";
                                }
                            },
                            {
                                title: "简介",
                                name: "description",
                                width: 2,
                                filter: function (text) {
                                    return "<span title='" + text + "'>" + text + "</span>";
                                }
                            },
                            {
                                title: "状态",
                                name: "status",
                                filter: function (text) {
//                                        状态,1为正常，2为冻结，3为删除
                                    if (text == 1) {
                                        return "正常";
                                    }
                                    if (text == 2) {
                                        return "冻结";
                                    }
                                    return text;
                                }
                            },
                            {
                                title: "创建时间",
                                name: "createTime",
                                width: 3,
                                filter: function (text) {
                                    return timeFormatter.formatTime(text);
                                }
                            }
                        ]
                    }
                );


            }
            this.loadUserData = function () {
                tableBuilder.loading({
                    table: this.$userTable
                });
                ajax.post({
                    url: "/users/list",
                    data: $.extend(this.page, this.query),
                    onSuccess: function (result) {
                        this.loadTable(result);
                        this.loadPager(result);
                    }.bind(this)
                });

            }

        }
    ;

    var userLoader = new UserLoader();
    userLoader.init();
    /*]]>*/

</script>
</body>

</html>
