<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body id="course_list_body">
<!--变量-->

<!--<th:block th:with="courseUrl='/courses/list?start=${#httpServletRequest.getAttribute('start')}&size=${#httpServletRequest.getAttribute('size')}&orderBy=${#httpServletRequest.getAttribute('orderBy')}&orderType=${#httpServletRequest.getAttribute('orderType')}'">-->

<!--</th:block>-->
<div class="container layout layout-margin-top">
    <!--<p th:text="${#httpServletRequest.getAttribute('courseList')}"-->
       <!--th:unless="${#httpServletRequest.getAttribute('courseList')== null}">11</p>-->

    <!--<p th:text="${#httpServletRequest.getAttribute('tagGroupsList')}"-->
       <!--th:unless="${#httpServletRequest.getAttribute('tagGroupsList')== null}">11</p>-->

    <div class="row">
        <div class="col-md-12 layout-body">

            <div class="content">

                <div th:each="tagGroup,status : ${#httpServletRequest.getAttribute('tagGroupsList')}"
                     class="row course-cates">
                    <div th:text="${tagGroup.tagGroupName}"
                         class="col-md-1 course-cates-title">
                    </div>


                    <div class="col-md-11 course-cates-content">
                        <a class="active" th:href="@{${indexUrl}(${query.tagIds})}">全部</a>
                        <th:block th:each="tag,status : ${tagGroup.tags}">

                            <a th:text="${tag.tagName}"
                               class=""
                               th:href="@{${indexUrl}(${query.tagIds},${tag.tagId})}">
                            </a>
                        </th:block>

                    </div>


                </div>

            </div>

            <div class="content position-relative">
                <ul class="nav nav-tabs" role="tablist">

                    <li class="active"><a href="/courses/?course_type=all&amp;tag=all&amp;fee=all">全部</a></li>

                </ul>
                <div class="clearfix"></div>

                <div class="search-result"></div>
                <div class="row">


                    <div class="col-md-3 col-sm-6  course"
                         th:each="course,courseStatus : ${#httpServletRequest.getAttribute('courseList')}">
                        <a class="course-box" href="">
                            <div class="sign-box">


                                <i class="fa fa-star-o course-follow pull-right"
                                   data-follow-url="/courses/63/follow"
                                   data-unfollow-url="/courses/63/unfollow" style="display:none"></i>

                            </div>
                            <div class="course-img">

                                <img th:alt="${course.name}" th:src="${course.imgUrl}" th:unless="${course.imgUrl == null}">

                            </div>

                            <div class="course-body">
                                <span class="course-title" data-toggle="tooltip" data-placement="bottom"
                                      th:title="${course.name}">
                                    <span th:text="${course.name}">Onions</span>
                                </span>
                            </div>
                            <div class="course-footer">
                            <span class="course-per-num pull-left">
                                <i class="fa fa-users"></i>

                                下载量
                                <span th:text="${course.downloadNumber}">Onions</span>

                            </span>
                                <span class="course-money pull-right">

                                    <span th:text="${course.learnNumber}">Onions
                                    </span>
                                    人已学习
                            </span>
                            </div>
                        </a>
                    </div>


                </div>


                <nav class="pagination-container">
                    <ul class="pagination">

                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>


                        <li class="active">
                            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=1">1</a>
                        </li>


                        <li class="">
                            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=2">2</a>
                        </li>


                        <li class="">
                            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=3">3</a>
                        </li>


                        <li class="">
                            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=4">4</a>
                        </li>


                        <li class="">
                            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=5">5</a>
                        </li>


                        <li>
                            <a href='#'>...</a>
                        </li>


                        <li class="">
                            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=24">24</a>
                        </li>


                        <li class="">
                            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=25">25</a>
                        </li>


                        <li class="">
                            <a aria-label="Next" href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=2">
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>

                    </ul>
                </nav>


            </div>

        </div>

    </div>
</div>


</body>
</html>