<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lei Shi">
    <meta http-equiv="Cache-Control" content="o-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="csrf-token" content="1483780974##87f89328c5616669f00302a263fe9061bb852818">


    <title> JavaScript全面深入教程 - 黑马</title>


    <meta content="实验楼课程分为基础课和项目课，内容涵盖了Linux、Python、Java、C语言、Ruby、Android、IOS开发、大数据、信息安全等IT技术领域。" name="description">
    <meta content="实验楼课程,IT培训课程,IT实训课程,IT在线课程,all" name="keywords">

    <meta content="" name="author">

    <link rel="shortcut icon" th:href="@{/frontend/favicon.ico}">
    <link rel="stylesheet" th:href="@{/frontend/static/font-awesome//4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/frontend/static/highlight.js/9.8.0/monokai-sublime.min.css}">
    <link rel="stylesheet" th:href="@{/frontend/app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/frontend/app/css/libs/katex/0.6.0/katex.min.css}">
    <!--<link rel="stylesheet" th:href="@{/frontend/app/css/libs/videojs/5.11.7/video-js.min.css}">-->
    <!--?=2016121272249-->
    <link rel="stylesheet" th:href="@{/frontend/app/css/dest/styles.css}">


    <script th:src="@{/frontend/static/jquery/2.2.4/jquery.min.js}"></script>
    <script th:src="@{/frontend/app/dest/util.js}"></script>
    <script th:src="@{/frontend/app/dest/project_util.js}"></script>
    <script th:src="@{/frontend/static/ace/1.2.5/ace.js}"></script>
    <script th:src="@{/frontend/static/aliyun/aliyun-oss-sdk-4.3.0.min.js}"></script>
    <script th:src="@{/frontend/static/highlight.js/9.8.0/highlight.min.js}"></script>
    <script th:src="@{/frontend/static/jspdf/1.2.61/jspdf.min.js}"></script>
    <script th:src="@{/frontend/static/plupload/2.1.9/js/plupload.full.min.js}"></script>
    <script th:src="@{/frontend/static/zeroclipboard/2.2.0/ZeroClipboard.min.js}"></script>
    <!--<script th:src="@{/frontend/static/videojs/video.min.js}"></script>-->
    <script th:src="@{/frontend/static/ckplayer/ckplayer/ckplayer.js}"></script>
    <script th:src="@{/frontend/static/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js}"></script>
    <script th:src="@{/frontend/static/bootstrap-table/1.11.0/bootstrap-table.min.js}"></script>
    <script th:src="@{/frontend/static/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/frontend/static/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js}"></script>

    <script th:src="@{/frontend/static/ravenjs/3.7.0/raven.min.js}"></script>
    <script>
        Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.xxxxxx.com/5', {
            release: '3.12.13'
        }).install();
    </script>


    <style>
        @font-face {
            font-family: "lantingxihei";
            src: url("../fonts/FZLTCXHJW.TTF");
        }

        /* modal 模态框*/
        #invite-user .modal-body {
            overflow: hidden;
        }

        #invite-user .modal-body .form-label {
            margin-bottom: 16px;
            font-size: 14px;
        }

        #invite-user .modal-body .form-invite {
            width: 80%;
            padding: 6px 12px;
            background-color: #eeeeee;
            border: 1px solid #cccccc;
            border-radius: 5px;
            float: left;
            margin-right: 10px;
        }

        #invite-user .modal-body .msg-modal-style {
            background-color: #7dd383;
            margin-top: 10px;
            padding: 6px 0;
            text-align: center;
            width: 100%;
        }

        #invite-user .modal-body .modal-flash {
            position: absolute;
            top: 53px;
            right: 74px;
            z-index: 999;
        }

        /* end modal */

        .en-footer {
            padding: 30px;
            text-align: center;
            font-size: 14px;
        }
    </style>
    <link rel="stylesheet" th:href="@{/frontend/restatic/js/libs/marked/katex/katex.min.css}">
    <style>
        .bootcamp-infobox {
            margin: 50px 0 0;
        }

        .invite-friends-link {
            margin-top: 10px;
            padding-left: 8px;
        }

        .invite-friends-link input {
            margin-left: -5px;
        }

        .invite-friends-link button {
            float: left;
            margin-top: 5px;
            margin-left: -5px;
        }

        .invite-friends-link .copy-msg {
            float: left;
            margin-top: 10px;
            margin-left: 20px;
            color: #42b1ad;
        }

        p.join-vip-faq {
            margin-top: 20px;
            margin-bottom: -50px;
            font-size: 13px;
        }

        p.join-vip-faq img {
            height: 13px;
            width: 13px;
            margin-top: -2px;
        }

        a.vip-without-bean {
            font-size: 18px;
            line-height: 30px;
        }
    </style>


    <style>
        #m_player {
            min-width: 800px;
            width: 100%;
            height: 500px;
        }
    </style>
</head>

<body th:with="course=${#httpServletRequest.getAttribute('course')},indexUrl='/courses/list'">


<!--nav-->
<div th:include="/frontend/courses/nav :: #nav_body"></div>


<div class="container layout layout-margin-top">

    <ol class="breadcrumb">
        <li>
            <a th:href="${indexUrl}" th:text="'返回视频列表'"></a>
        </li>

        <li>
            <a href="javascript:void(0);" th:text="${course.name}"></a>
        </li>

        <li>
            <a id="nowLean" href="javascript:void(0);"></a>
        </li>

        <li>
            <a id="logout-btn" class="btn btn-default navbar-btn sign-up "
               th:href="@{'/users/collect/course/'+${course.courseId}}">收藏</a>
        </li>
    </ol>

    <div class="row">
        <div class="col-md-9 layout-body">

            <div id="m_player"
                 ref="m_player"></div>

            <div class="content">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#introduce" aria-controls="introduce" role="tab" data-toggle="tab">课程介绍</a>
                    </li>

                    <li role="presentation">
                        <a href="#labs" class="stat-event" aria-controls="labs" role="tab" data-toggle="tab">课程目录</a>
                    </li>

                    <!--<li role="presentation">-->
                    <!--<a href="#comments" class="stat-event" aria-controls="comments" role="tab"-->
                    <!--data-stat="course_comment" data-toggle="tab">课程评论(1194)</a>-->
                    <!--</li>-->
                    <!--
                        <li role="presentation">
                        <a href="#reports" class="stat-event" data-stat="course_report" aria-controls="reports" role="tab" data-toggle="tab">实验报告(3417)</a>
                    </li>
                    <li role="presentation">
                        <a href="#questions" class="stat-event" data-stat="course_question" aria-controls="questions" role="tab" data-toggle="tab">实验问答(1108)</a>
                    </li>
                    -->

                </ul>
                <div class="tab-content">
                    <!--
                        以下是课程介绍
                    -->
                    <div role="tabpanel" class="tab-pane active" id="introduce">

                        <div>
                            <p th:text="${course.description}">

                            </p>
                            <!--<a style="text-decoration: none;font-size: 16px;font: '微软雅黑';color: #002B36;">1、Javascript基本及高级应用</a><br/><br/>-->
                            <!--<a style="text-decoration: none;font-size: 16px;font: '微软雅黑';color:#002B36;">2、Web-->
                            <!--API</a><br/><br/>-->
                            <!--<a style="text-decoration: none;font-size: 16px;font: '微软雅黑';color: #002B36;">3、Javascript-->
                            <!--面向对象</a><br/><br/>-->
                            <!--<a style="text-decoration: none;font-size: 16px;font: '微软雅黑';color: #002B36;">4、贪吃蛇游戏开发</a>-->
                        </div>
                    </div>
                    <!--
                        以下是课程目录的代码
                    -->

                    <div role="tabpanel" class="tab-pane " id="labs">

                        <th:block th:each="src,status : ${course.courseSourcesDtoList}">

                            <!--//    courseSourceDescription-->
                            <!--//        :-->
                            <!--//        "这是第一节"-->
                            <!--//    courseSourceId-->
                            <!--//        :-->
                            <!--//        1-->
                            <!--//    courseSourceName-->
                            <!--//        :-->
                            <!--//        "第一节"-->
                            <!--//    courseSourceSort-->
                            <!--//        :-->
                            <!--//        1-->
                            <!--//courseWatchSourceUrleUrl-->
                            <!--//        :-->
                            <!--//        "/courses/src/1"-->


                            <div class="lab-item ">
                                <div class="lab-item-status">
                                    <img src="../img/lab-not-ok.png">
                                </div>
                                <div th:text="${src.courseSourceName}" class="lab-item-index">标题</div>
                                <div th:text="${src.courseSourceDescription}" class="lab-item-title"
                                     data-toggle="tooltip" data-placement="bottom" title="概念介绍">
                                    概念介绍
                                </div>
                                <div class="pull-right lab-item-ctrl">

                                    <a th:attr="srcIndex=${status.index}"
                                       class="btn btn-default play-btn" href="JavaScript:void(0);" data-toggle="modal"
                                       data-sign="signin"
                                       data-next="/courses/1">播放</a>
                                    <!--
                                        <a class="btn btn-primary" href="#sign-modal" data-toggle="modal" data-sign="signin" data-next="/courses/1">开始实验</a>
                                    -->


                                </div>
                            </div>


                        </th:block>


                    </div>
                    <!--
                        以上是课程目录的代码
                    -->
                    <!--<div role="tabpanel" class="tab-pane course-comment" id="comments">-->
                    <!--<div class="comment-box">-->
                    <!--<div class="comment-form">-->

                    <!--<div class="comment-form-unlogin">-->
                    <!--请-->
                    <!--<a href="#sign-modal" data-toggle="modal" data-sign="signin" data-next="/courses/1">-->
                    <!--登录 </a>-->
                    <!--后发表评论-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--<div class="comment-title">最新评论</div>-->
                    <!--<div class="comment-list">-->
                    <!--</div>-->
                    <!--<div class="pagination-container"></div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--
                        <div role="tabpanel" class="tab-pane" id="reports">
                        <span class="lab-id active" data-lab-id="None">全部</span>

                        <span class="lab-id" data-lab-id="1">第1节</span>

                        <span class="lab-id" data-lab-id="2">第2节</span>

                        <span class="lab-id" data-lab-id="3">第3节</span>

                        <span class="lab-id" data-lab-id="59">第4节</span>

                        <span class="lab-id" data-lab-id="60">第5节</span>

                        <span class="lab-id" data-lab-id="61">第6节</span>

                        <span class="lab-id" data-lab-id="62">第7节</span>

                        <span class="lab-id" data-lab-id="1917">第8节</span>

                        <span class="lab-id" data-lab-id="1918">第9节</span>

                        <span class="lab-id" data-lab-id="63">第10节</span>

                        <span class="lab-id" data-lab-id="337">第11节</span>

                        <span class="lab-id" data-lab-id="346">第12节</span>

                        <span class="lab-id" data-lab-id="354">第13节</span>

                        <span class="lab-id" data-lab-id="356">第14节</span>

                        <span class="lab-id" data-lab-id="1943">第15节</span>

                        <span class="lab-id" data-lab-id="1944">第16节</span>

                        <span class="lab-id" data-lab-id="1945">第17节</span>

                        <div class="report-owner">
                            <span class="owner-list" dusersuser-id="">我的报告</span> / <span class="owner-list active" dusersuser-id="None">所有报告</span>
                        </div>
                        <div class="row report-items"></div>
                        <div class="pagination-container"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="questions">
                        <a class="btn btn-success" data-toggle="modal" data-target="#askquestion">我要提问</a>
                        <hr>
                        <ul class="row question-items"></ul>
                        <div class="pagination-container"></div>
                    </div>
                    -->


                </div>
            </div>


        </div>

        <div class="col-md-3 layout-side">

            <div class="side-image side-image-pc">
                <img th:alt="${course.name}" th:src="${course.imgUrl}"
                     th:unless="${course.imgUrl == null}">
            </div>


            <div class="sidebox mooc-teacher">
                <div class="sidebox-header mooc-header">
                    <h4 class="sidebox-title" th:text="${course.name}"></h4>
                </div>
                <div class="sidebox-body ">
                    <a id="preSrc" href="javascript:void(0);" style="text-decoration: none;">
                        播放上一节&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <a id="nextSrc" href="javascript:void(0);" style="text-decoration: none;">
                        播放下一节
                    </a>


                    <div class="mooc-extra-info">
                        <div th:text="'下载数:'+${course.downloadNumber}+'    观看数:'+${course.watchNumber}+'    收藏数数:'+${course.collectNumber}"
                             class="word long-paragraph">

                        </div>
                    </div>
                </div>
                <div class="sidebox-footer mooc-footer">
                    <a class="video-download-btn" href="http://img.ksbbs.com/asset/Mon_1703/05cacb4e02f9d9e.mp4"
                       target="_self">下载视频 ></a>
                </div>
            </div>
        </div>

    </div>


</div>


<div id="base-data"


     data-flash="false"


     data-is-login=false

     data-is-jwt=true
     data-socket-url="wss://comet.xxxxxx.com"
     data-msg-user=""
     data-msg-system=""
></div>
<!--?=2016121272249-->
<script th:src="@{/frontend/app/dest/lib/lib.js}"></script>


<div id="jinja-data"
     data-userlab-id=""
     data-course-id="1"
     data-is-authenticated="false"
     data-user-joined="false"
     data-user-logined="false"
     data-show-student-info-modal="false"
     data-login-url="/login?next=%2Fcourses%2F1"
     data-start-newlab-url="/courses/clear"

     data-faq="/faq"
     data-comment-post="/courses/1/comments"
     data-loginurl="/login?next=%2Fcourses%2F1"
     data-site-type="0"
     data-report-post="/courses/1/reports"
     data-recomment-img="../img/recommentReport.png"
     data-charge-course-phone-code="/user/sms/code"
     data-join-private-course="/courses/join"
     data-current-user-id=""
     data-vip-icon="../img/vip-icon.png"
     data-vip-index="/vip"
     data-get-question-url="/courses/1/questions"
     data-real-price=""

     data-query-bill="/purchase/bill/query"
     data-question-form="/questions/meta"
     data-qiniu-token-url="/api/qiniu/token"
></div>
<!--?=2016121272249-->
<script th:src="@{/frontend/app/dest/course/labs.js}"></script>


<!--tail-->
<div th:include="/frontend/courses/footer :: #footer_body"></div>

<!--message model-->
<div th:include="/frontend/courses/message_model :: #message_model_body"></div>

<script type="text/javascript">


</script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var courseId = [[${course.courseId}]];

    var reloadUrl = "/courses/"+courseId;

    //    courseSourceDescription
    //        :
    //        "这是第一节"
    //    courseSourceId
    //        :
    //        1
    //    courseSourceName
    //        :
    //        "第一节"
    //    courseSourceSort
    //        :
    //        1
    //    courseWatchSourceUrl
    //        :
    //        "/courses/src/1"
    var currtSrcIndex = 0;
    var srcs = [[${course.courseSourcesDtoList}]];
    var $nowLean = $("#nowLean");
    var $videoDownloadBtn = $(".video-download-btn");
    var video = "http://img.ksbbs.com/asset/Mon_1703/05cacb4e02f9d9e.mp4";

    displayCourseSource(currtSrcIndex);

    /**********************触发事件********************/
    $(".play-btn").click(function () {
        var srcIndex = $(this).attr("srcIndex");
        currtSrcIndex = srcIndex;
        displayCourseSource(currtSrcIndex);
    });

    $("#preSrc").click(function () {
        if ((currtSrcIndex - 1) < 0) {
            messageModel.show("这已经是第一节了");
            return;
        }
        --currtSrcIndex;
        displayCourseSource(currtSrcIndex);
    });
    $("#nextSrc").click(function () {
        if ((currtSrcIndex + 1) > srcs.length) {

            messageModel.show("这已经是最后一节了");
            return;
        }
        ++currtSrcIndex;
        displayCourseSource(currtSrcIndex);

    });

    /*********************** 功能方法 ***************************/

    function courseInfoTransformer(couseInfo) {

        if (couseInfo == undefined) {
            couseInfo = {};
        }
        var courseWatchUrl = couseInfo.courseWatchSourceUrl;
        var courseName = couseInfo.courseSourceName;
        var courseDownloadUrl = couseInfo.courseDownloadSourceUrl;
        return {
            courseName: courseName,
            courseWatchUrl: courseWatchUrl,
            courseDownloadUrl: courseDownloadUrl
        };
    }
    function displayCourseSource(currtSrcIndex) {
        if (srcs == undefined) {
            srcs = [];
        }
        renderPageInfo(courseInfoTransformer(srcs[currtSrcIndex]));
    }

    function renderPageInfo(info) {
        initPlayer(info.courseWatchUrl);
        setDownloadUrl(info.courseDownloadUrl);
        setNowLearn(info.courseName);
    }
    function setNowLearn(learnName) {
        var msg = "正在学习 : " + learnName;
        if (learnName == undefined || learnName == "") {
            msg = "无学习视频";
        }
        $nowLean.html(msg);
    }

    function setDownloadUrl(originalDownloadUrl) {
        var s = originalDownloadUrl + "?courseId=" + courseId;
        if (originalDownloadUrl == undefined || originalDownloadUrl == "") {
            s = "javascript:void(0);";
        }
        $videoDownloadBtn.attr("href", s);
    }

    function initPlayer(watchUrl) {
        s = watchUrl + "?courseId=" + courseId;
        if (watchUrl == undefined || watchUrl == "") {
            s = "http://img.ksbbs.com/asset/Mon_1703/05cacb4e02f9d9e.mp4";
        }
        var videoObject = {
            container: '#m_player',//“#”代表容器的ID，“.”或“”代表容器的class
            variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
            autoplay: true,//默认自动播放
            volume: 1.0,//初始化音量
            flashplayer: true,//如果强制使用flashplayer则设置成true
            video: s//视频地址http://img.ksbbs.com/asset/Mon_1703/05cacb4e02f9d9e.mp4

        };

        var player = new ckplayer(videoObject);
    }
    /*]]>*/


</script>

<!--message model-->
<div th:include="/frontend/courses/message_model :: #message_model_body"></div>

</body>
</html>
