<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body id="user_model_body">


<!--登录注册弹框-->
<div class="modal fade" id="sign-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#signin-form" aria-controls="signin-form" role="tab" data-toggle="tab">登录</a>
                    </li>
                    <li role="presentation">
                        <a href="#signup-form" aria-controls="signup-form" role="tab" data-toggle="tab">注册</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!--登录-->
                    <div role="tabpanel" class="tab-pane active" id="signin-form">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input id="login_username" type="text" name="username" class="form-control"
                                           placeholder="请输入用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input id="login_password" type="password" name="password" class="form-control"
                                           placeholder="请输入密码">
                                </div>
                            </div>

                            <div class="form-group">
                                <input id="login-btn" class="btn btn-primary" name="submit" type="submit" value="登录">
                            </div>

                        </form>
                    </div>
                    <!--注册-->
                    <div role="tabpanel" class="tab-pane" id="signup-form">
                        <form action="/users/regist" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input type="text" id="username" name="username" class="form-control"
                                           placeholder="请输入用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input type="password" id="password" name="password" class="form-control"
                                           placeholder="请输入密码">
                                </div>
                            </div>
                            <!--<div class="form-inline">-->
                            <!--<div class="form-group">-->
                            <!--<div class="input-group">-->
                            <!--<input type="text" name="captcha_v" class="form-control" placeholder="请输入验证码">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<img class="verify-code" src="" source="img/captcha.gif">-->
                            <!--</div>-->
                            <div class="form-group">
                                <input id="regist-btn" class="btn btn-primary" name="submit" type="submit" value="注册">
                            </div>
                            <div class="form-group agree-privacy">
                                注册表示您已经同意我们的<a href="javascript:void(0);" target="_blank">隐私条款</a>
                            </div>
                            <!--<div class="form-group widget-signup">-->
                            <!--<span>快速注册</span>-->
                            <!--<a href="/auth/qq?next="><i class="fa fa-qq"></i></a>-->
                            <!--<a href="/auth/weibo?next="><i class="fa fa-weibo"></i></a>-->
                            <!--<a href="/auth/weixin?next="><i class="fa fa-weixin"></i></a>-->
                            <!--<a href="/auth/github?next="><i class="fa fa-github"></i></a>-->
                            <!--<a href="/auth/renren?next="><i class="fa fa-renren"></i></a>-->
                            <!--</div>-->
                            <!--<div class="form-group error-msg">-->
                            <!--<div class="alert alert-danger" role="alert"></div>-->
                            <!--</div>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/


</script>
<script>


    //    var $registForm = $("#signup-form");
    //注册
    var $registBtn = $("#regist-btn");
    $registBtn.unbind('click');
    $registBtn.click(function () {
//        var data = $registForm.serialize();
        $.ajax({
            url: '/users/regist',
            data: {
                username: $("#username").val(),
                password: $("#password").val()
            },
            cache: false,//false是不缓存，true为缓存
            async: true,//true为异步，false为同步
            beforeSend: function () {
                //请求前
            },
            success: function (result) {
                userModel.hide();
                if (result.code == CODE_OF_REQUEST_SUCCESS) {
                    window.location.reload();
                } else {
                    messageModel.show(result.msg);
                }
            },
            complete: function () {
                //请求结束时
            },
            error: function () {
                //请求失败时
            }
        })
    });
    var $loginBtn = $("#login-btn");
    $loginBtn.unbind('click');
    $loginBtn.click(function () {
//        var data = $registForm.serialize();
        $.ajax({
            url: '/users/login',
            data: {
                username: $("#login_username").val(),
                password: $("#login_password").val()
            },
            cache: false,//false是不缓存，true为缓存
            async: true,//true为异步，false为同步
            beforeSend: function () {
                //请求前
            },
            success: function (result) {
                userModel.hide();
                if (result.code == CODE_OF_REQUEST_SUCCESS) {
                    window.location.reload();
                } else {
                    //请求成功时
                    messageModel.show(result.msg);
                }

            },
            complete: function () {
                //请求结束时
            },
            error: function () {
                //请求失败时
            }
        })
    });


    /********************功能性方法************************/
    var userModel = {
        $userModel: $("#sign-modal"),
        show: function () {
            this.$userModel.modal('show')
        },
        hide: function () {
            this.$userModel.modal('hide')
        }
    };

</script>
</body>
</html>